html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#map {
    width: 100%;
    height: 100%;
}


form {
    border: 1px solid black;
    border-radius: 2px;
    padding: 1em;
}

#hide-button {
    margin: 1em;
}

label {
    display: block;
}

input {
    padding: 0.25em;
    width: 50%;
}

input[type=submit] {
    width: auto;
}

.hidden {
    display: none;
}

#panel {
    position: fixed;
    width: 40%;
    height: 100vh;
    z-index: 800;
    padding: 1em;
    background-color: white;
    
}
.right-aligned {
    position: absolute;
    right: 0;
}
