<!DOCTYPE HTML>
<html>

<head>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div id="panel" class="hidden">
        <button onclick="togglePanel()">Hide</button>
        <h2>We want to know more about you</h2>
        <form action="">
            <div>
                <label for="location">Location</label><input type="text" name="location" id="location">
            </div>
            <div>
                <label for="name">Name</label><input type="text" name="name" id="name">
            </div>
            <div>
                <input type="submit" value="Send" id="submit">
            </div>
        </form>
    </div>

    <div id="map"></div>


</body>

</html>