<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Base{% endblock %}</title>
    <link 
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" 
        integrity="sha512-ZRv40llEogRmoWgZwnsqke3HNzJ0kiI0+pcMgiz2bxO6Ew1DVBtWjVn0qjrXdT3+u+pSN36gLgmJiiQ3cQtyzA=="
        crossorigin="anonymous"
    >
    <link 
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" 
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    {% block scripts %}
    {% endblock %}
</head>

<body>
    <section class="hero is-fullheight">

        <div class="hero-head">
            <nav class="navbar has-shadow">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu is-active">
                        <div class="navbar-start">
                            <a href="{{ url_for('admin.dashboard') }}" class="navbar-item">
                                <span class="icon">
                                    <i class="fas fa-columns"></i>
                                </span>
                                <span class="navbar-font">{{ gettext("Dashboard") }}</span>
                            </a>
                            <a href="{{ url_for('admin.settings') }}" class="navbar-item">
                                <span class="icon">
                                    <i class="fas fa-cog"></i>
                                </span>
                                <span class="navbar-font">{{ gettext("Settings") }}</span>
                            </a>
                        </div>
                        <div class="navbar-end">
                            <a href="{{ url_for('admin.logout') }}" class="navbar-item">
                                <span class="icon">
                                    <i class="fas fa-sign-out-alt"></i>
                                </span>
                                <span class="navbar-font">{{ gettext("Logout") }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>