{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin="anonymous" />
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}

{% block content %}
<h1 class="title is-4">
  {{ gettext("Suggestions for Beehives") }}
</h1>
<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><abbr title="Index">#</abbr></th>
      <th>{{ gettext("Name") }}</th>
      <th>{{ gettext("Bee-Hive Confirmed") }}</th>
      <th>{{ gettext("last updated") }}</th>
      <th>
        <div>
          <a class="button is-link" href="/admin/export">{{ gettext("Export as Excel") }}</a>
        </div>
      </th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th><abbr title="Index">#</abbr></th>
      <th>{{ gettext("Name") }}</th>
      <th>{{ gettext("Bee-Hive Confirmed") }}</th>
      <th>{{ gettext("last updated") }}</th>
      <th></th>
    </tr>
  </tfoot>


  <tbody>
    {% for suggestion in suggestions %}
    <tr>
      <td>{{ suggestion.id }}</td>
      <td>{{ suggestion.firstname }} {{ suggestion.lastname }}</td>
      <td>
        <!-- {{ suggestion.confirmed }} -->
        <div class="select" id="status_{{ suggestion.id }}">
          <select>
              {% if suggestion.confirmed %}
                <option value="1">{{ gettext("yes") }}</option>
                <option value="0">{{ gettext("no") }}</option>
              {% else %}
                <option value="0">{{ gettext("no") }}</option>
                <option value="1">{{ gettext("yes") }}</option>
              {% endif %}
          </select>
        </div>
      </td>
      <td>{{ suggestion.datetime.strftime('%Y-%m-%d %H:%M') }}</td>
      <td>
        <button class="button is-success" id="confirm_{{ suggestion.id }}">{{ gettext("Update Suggestion") }}</button>
        <!-- <button class="button is-danger" id="delete_{{ suggestion.id }}">Delete</button> -->
        <a href="/admin/dashboard/delete/{{ suggestion.id }}" class="button is-danger">{{ gettext("Delete") }}</a>
        <button id="toggle_{{ suggestion.id }}_{{ suggestion.location.longitude }}_{{ suggestion.location.latitude }}"
          class="button is-info">{{ gettext("Show Map") }}</button>
      </td>
    </tr>

    <tr id="target_{{ suggestion.id }}" style="display:none">
      <td colspan="5">
        <!-- <div id="mapContent"></div> -->
        <div id="map_{{ suggestion.id }}"></div>
      </td>
    </tr>


    {% endfor %}
  </tbody>
</table>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->
    <div class="modal-card">
      <section class="modal-card-body">
        <!-- Content ... -->
        <h1 style="color:black;">{{ gettext("Suggestion successfully updated!!!") }}</h1>
      </section>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>


{% endblock %}