<!DOCTYPE HTML>
<html>

<head>
    <title>Beemap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="View and suggest bee-village location on map">

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div id="panel" class="hidden">
        <button id="hide-button">Hide</button>
        <h2>We want to know more about you</h2>

        <form id="userForm" method="post" action="/">
            <div>
                {{ form.latitude.label }} {{ form.latitude }}
                <div class="errors"></div>
            </div>
            <div>
                {{ form.longitude.label }} {{ form.longitude }}
                <div class="errors"></div>
            </div>
            <div>
                {{ form.name.label }} {{ form.name }}
                <div class="errors"></div>
            </div>
            <div>
                <input type="submit" value="Send" id="submit">
            </div>
        </form>
    </div>

    <div id="map"></div>


</body>

</html>